%p
  This will create a new set of Submissions to be filled out!

%p
  Danger Warning! But if you are sure you want this click the button below

= button_to 'Click to Generate New Submissions', action: 'create'
